@model List<ThueXeVn.Models.pl_car_price>

<div class="row" id="bangiaxe" style="background: #fff; color: #333;">

    <div id="page_header">
        <div class="col-md-2" id="bg_logo"><img src="~/Content/Images/logo_mv_e1.png" /></div>
        <div class="col-md-offset-1 col-md-5" id="bg_h1" style="display: block; text-align: center;">
            <h3>ThueXeVn.Com</h3>
            <p style="color: #5BB75B; font-weight: 700; font-size: 19px;">HotLine: <a href="tel:093 912 6888">093 912 6888</a> - <a href="tel:0979776427">097 977 6427</a></p>
        </div>
        <div class="col-md-4" id="bg_right">
            <h3 style="font-size: 11px; font-weight: bold;">Minh Viet Jsc</h3>
            <p style="font-size: 11px;"><b>Address: </b>78 Duy Tân, Kim Ánh Building, Cầu Giấy, Hà Nội</p>
            <p style="font-size: 11px;"><b>Hotline: </b>093 912 6888</p>
        </div>
    </div>
    @if (Model != null)
    {
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="table_baogia" style="margin-top: 15px;">
                    <caption>PRICING TABLE</caption>
                    <thead style="background: #ececec; color: #000;">
                        <tr style="text-align: center;">
                            <th rowspan="3">Car type (Seats)</th>
                            <th rowspan="3">One day in City (100km/10h)</th>
                            <th rowspan="3">1/2 day in City (50km/5h)</th>
                            <th rowspan="3">Ha Noi - Noi Bai Airport</th>
                            <th rowspan="3">Noi Bai Airport - Ha Noi</th>
                            <th rowspan="3">Book Return Nội Bài Airport</th>
                            <th rowspan="2" class="bg_23" style="border-bottom: 0;">Out Of City(Book Return)</th>
                            <th rowspan="2" class="bg_yellow3" style="border-bottom: 0;">Out Of City(Single Trip)</th>
                            <th rowspan="3">Over Night (Vnd/Night)</th>
                        </tr>
                        @*<tr style="text-align: center;">
                                <th colspan="1" rowspan="2" class="bg_yellow">&lt;100km</th>
                                <th colspan="1" rowspan="2" class="bg_yellow">100-200km</th>
                                <th colspan="1" rowspan="2" class="bg_yellow">&gt;200km</th>
                                <th colspan="1" rowspan="2" class="bg_2">&lt;100km</th>
                                <th colspan="1" rowspan="2" class="bg_2">100-200km</th>
                                <th colspan="1" rowspan="2" class="bg_2">&gt;200km</th>
                            </tr>*@
                        <tr style="text-align: center;"></tr>
                    </thead>

                    <tbody>
                        
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="bg_fw1">Car @item.pl_car_type seats</td>
                                <td onclick="chonloaixe_tuyenduong(@item.pl_car_type,'g1');">@string.Format("{0:#,###}", @item.g1)</td>
                                <td onclick="chonloaixe_tuyenduong(@item.pl_car_type,'g2');">
                                    @string.Format("{0:#,###}", @item.g2)
                                </td>
                                <td onclick="chonloaixe_tuyenduong(@item.pl_car_type,'g3');">
                                    @string.Format("{0:#,###}", @item.g3)
                                </td>
                                <td onclick="chonloaixe_tuyenduong(@item.pl_car_type,'g4');">
                                    @string.Format("{0:#,###}", @item.g4)
                                </td>
                                <td onclick="chonloaixe_tuyenduong(@item.pl_car_type,'g5');">
                                    @string.Format("{0:#,###}", @item.g5)
                                </td>
                                <td onclick="chonloaixe_tuyenduong(@item.pl_car_type,'g6');">
                                    @string.Format("{0:#,###}", @item.g6)
                                </td>
                                @*<td>
                                        9,000
                                    </td>
                                    <td>
                                        8,500
                                    </td>*@
                                <td onclick="chonloaixe_tuyenduong(@item.pl_car_type,'g7');">
                                    @string.Format("{0:#,###}", @item.g7)
                                </td>
                                @*<td>
                                        8,500
                                    </td>
                                    <td>
                                        9,000
                                    </td>*@
                                <td>
                                    @string.Format("{0:#,###}", @item.g8)
                                </td>
                            </tr>
                        }
                        
                       
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="vertical-align: middle; font-weight: 700; font-size: 5em;" colspan="3" rowspan="5">Note:</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;" colspan="6" rowspan="5">

                                <ul style="list-style-type: none; padding-left: 0; font-weight: 600;">
                                    <li>
                                        <b>For go to Airport:</b>
                                        <ul style="list-style-type: none; padding-left: 5px;">
                                            <li>
                                                <p>
                                                    - If from pick up location and to return location are in 4 district(Ba Đình, Đống Đa, Hoàn Kiếm, Cầu Giấy): 200.000 (forward) - 300.000 (back) and other district: 250.000 (forward) – 350.000 (back).
                                                </p>
                                            </li>
                                            <li><p>- If distance of trip > 40kms (Chương Mỹ, Quốc Oai,…): fee are caculated by = distance * price per km</p></li>

                                        </ul>
                                    </li>

                                </ul>
                            </td>
                        </tr>
                        @*<tr>
                                <td colspan="7" rowspan="5"></td>
                            </tr>*@

                    </tfoot>

                </table>
                <div><p style="font-weight: 600;">Note that: All pricing are not include <span style="background: #26AAEA; padding: 5px; color: #fff;">ticket on the road(toll,..)</span> and  <span style="background: #26AAEA; padding: 5px;color: #fff;">VAT tax</span>.</p></div>
            </div>

        </div>
    }
</div>